@(title: String, user: User)

<!DOCTYPE html>
<html lang="en">

    @header(title)

<body class="g-sidenav-show  bg-gray-200">

    @sideNavbar(MenuActive(isNotificationActive = true), user.role)

    <main class="main-content position-relative max-height-vh-100 h-100 border-radius-lg ">
        @topNavbar(title, user.name)
        <div class="container-fluid py-4">
            <div class="row">
                <div class="col-lg-8 col-md-10 mx-auto">
                    <div class="card mt-4">
                        <div class="card-header p-3">
                            <h5 class="mb-0">Alerts</h5>
                        </div>
                        <div class="card-body p-3 pb-0">
                            <div class="alert alert-info alert-dismissible text-white" role="alert">
                                <span class="text-sm">A simple primary alert with <a href="javascript:;" class="alert-link text-white">an example link</a>. Give it a click if you like.</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            @footer()

        </div>
    </main>
    @javascripts()
</body>
</html>